@font-face {
    font-family: 'Hanken Grotesk';
    src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

/* housekeeping and variables */

html, body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 62.5%; /*sets the base font-size(rem) to 10px so 2.1rem = 21px*/
    margin: 0;
    box-sizing: border-box;
}

.panel {
    border-radius: 1.2rem;
    background-color: rgba(0, 162, 255, 0.141);
}

.summary_group {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 50px 1fr 2em 4em;
}