@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800');

body {
    font-family: 'Hanken Grotesk', sans-serif;
}

.summary_group {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 50px 1fr 2em 4em;
}